{% extends "::base.bis.html.twig" %}

{% block title 'Poudlard 2.0' %}

{% block containerClass ' class="backgroundPoudlard"' %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets 
		'bundles/applicationpoudlard/css/poudlard.css'
		filter='cssrewrite,?yui_css'
        output='css/poudlard.min.css'
	 %}
		<link rel="stylesheet" href="{{ asset_url }}" type='text/css'/>
	{% endstylesheets %}
{% endblock %}

{% block body %}
	<div class="col-sm-12">
		<h1 id="title">{{ block('title') }}</h1>
		<div class="row">
			{% set colors = {
				'Gryffondor': '#ff6c60',
				'Serpentard': '#78CD51',
				'Serdaigle': '#58c9f3',
				'Poufsouffle': '#f1c500',
			} %}
			{% for item in finalScore %}
				<div class="col-sm-3 house-column" style="text-align:center;" house="{{ item.house.name }}">
                	{% include 'ApplicationPoudlardBundle:House:flat_flask.svg.twig' with {
						'percent': item.percent,
						'house': item.house.name,
						'color': colors[item.house.name],
						'first': loop.first,
                	} %}
					<h3>{{ item.house }}</h3>
					<img class="img-responsive" src="{{ asset('bundles/applicationbde/img/logo' ~ item.house.name ~ '.png') }}" style="margin: 0 auto;"/><br />
					Score : {{ item.house.score }}<br />
					<a href="#" target-house="{{ item.house.name }}" class="showFullTable"><i class="fa fa-eye"></i> Afficher tableau complet</a>
				</div>
				<div class="col-sm-9 house-table" style="display:none;" table-house="{{ item.house.name }}">
					<a href="#" class="hideFullTable"><i class="fa fa-eye-slash"></i> Masquer Tableau complet</a>
					<table class="table">
					<thead>
						<tr>
							<td>Date</td>
							<td>Intitulé</td>
							<td>Points</td>
							<td>Par</td>
						</tr>
					</thead>
					<tbody>
						{% for event in item.history %}
							<tr>
								<td>{{ event[1].date | format_date }}</td>
								<td>{{ event[1].name }}</td>
								<td>{{ event[0] }}</td>
								<td>
								{%- for clubHasPoints in event[1].distribution if clubHasPoints.club.house ==  item.house -%}
									{%- if not loop.first -%},&nbsp;{%- endif -%}{{- clubHasPoints.club -}}&nbsp;({{- clubHasPoints.amount + clubHasPoints.bonusMalus -}})
								{%- endfor -%}
								</td>
							</tr>
						{% endfor %}
					</tbody>
					</table>
				</div>
			{% endfor %}
		</div>
		<div class="row">
			<div class="col-sm-12">
				<h1>Règlement</h1>
			</div>
		</div>
		<div class="row" style="margin-bottom:20px;">
			<div class="col-sm-4 text-justify">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ultrices libero non metus lacinia, quis auctor erat vehicula. Mauris non consectetur augue. Suspendisse nec pulvinar enim, vitae faucibus lectus. Etiam feugiat condimentum nunc at sollicitudin. Aenean ac est est. Pellentesque efficitur, nunc in posuere venenatis, urna ipsum vulputate mauris, quis tristique mauris felis ac quam. Maecenas in purus fermentum, ornare diam nec, faucibus ipsum. Etiam quis felis velit. Nam non est a ante finibus facilisis vel non erat. Pellentesque rutrum volutpat laoreet. Proin ultricies justo egestas, mollis nibh sed, fringilla sapien. Pellentesque a condimentum lorem. Morbi hendrerit ipsum at urna pellentesque, ac tincidunt velit feugiat. Ut pellentesque ex a nisi elementum vestibulum.
			</div>
			<div class="col-sm-4 text-justify">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ultrices libero non metus lacinia, quis auctor erat vehicula. Mauris non consectetur augue. Suspendisse nec pulvinar enim, vitae faucibus lectus. Etiam feugiat condimentum nunc at sollicitudin. Aenean ac est est. Pellentesque efficitur, nunc in posuere venenatis, urna ipsum vulputate mauris, quis tristique mauris felis ac quam. Maecenas in purus fermentum, ornare diam nec, faucibus ipsum. Etiam quis felis velit. Nam non est a ante finibus facilisis vel non erat. Pellentesque rutrum volutpat laoreet. Proin ultricies justo egestas, mollis nibh sed, fringilla sapien. Pellentesque a condimentum lorem. Morbi hendrerit ipsum at urna pellentesque, ac tincidunt velit feugiat. Ut pellentesque ex a nisi elementum vestibulum.
			</div>
			<div class="col-sm-4 text-justify">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ultrices libero non metus lacinia, quis auctor erat vehicula. Mauris non consectetur augue. Suspendisse nec pulvinar enim, vitae faucibus lectus. Etiam feugiat condimentum nunc at sollicitudin. Aenean ac est est. Pellentesque efficitur, nunc in posuere venenatis, urna ipsum vulputate mauris, quis tristique mauris felis ac quam. Maecenas in purus fermentum, ornare diam nec, faucibus ipsum. Etiam quis felis velit. Nam non est a ante finibus facilisis vel non erat. Pellentesque rutrum volutpat laoreet. Proin ultricies justo egestas, mollis nibh sed, fringilla sapien. Pellentesque a condimentum lorem. Morbi hendrerit ipsum at urna pellentesque, ac tincidunt velit feugiat. Ut pellentesque ex a nisi elementum vestibulum.
			</div>
		</div>
		{# {{ dump(finalScore[1].history[0][1]) }} #}
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
    {% javascripts 
        'bundles/applicationbde/js/detectmobilebrowser.js' 
        'bundles/applicationpoudlard/js/poudlard.js'

        filter='?yui_js' 
        output='js/poudlard.min.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %} 
{% endblock %}
