{% extends 'SonataAdminBundle:Core:dashboard.html.twig' %}

{% block sonata_page_content_header %}
	<h1>
		{% if app.user.club %}
			Bienvenue {{ app.user.club }}
		{% else %}
			Bienvenue {{ app.user }}
		{% endif %}
	</h1>
{% endblock %}

{% block content %}
	{% if app.user.club %}
	<div class="row">
		<div class="col-md-6">
			<div class="box box-danger">
				<div class="box-header">
					<h3 class="box-title">Administration</h3>
				</div>
				<div class="box-body">
					<table class="table table-hover">
						<tbody>
							<tr>
								<td class="sonata-ba-list-label" width="40%">
									News
								</td>
								<td>
									<div class="btn-group">
										<a class="btn btn-link btn-flat" href="{{ path('admin_application_sonata_news_post_create') }}">
											<i class="fa fa-fw fa-plus-circle"></i> Ajouter
										</a>
										<a class="btn btn-link btn-flat" href="{{ path('admin_application_sonata_news_post_list') }}">
											<i class="fa fa-fw fa-list"></i> Mes news
										</a>
									</div>
								</td>
							</tr>
							<tr>
								<td class="sonata-ba-list-label" width="40%">
									Evénements
								</td>
								<td>
									<div class="btn-group">
										<a class="btn btn-link btn-flat" href="{{ path('admin_application_bde_event_create') }}">
											<i class="fa fa-fw fa-plus-circle"></i> Ajouter
										</a>
										<a class="btn btn-link btn-flat" href="{{ path('admin_application_bde_event_list') }}">
											<i class="fa fa-fw fa-list"></i> Mes événements
										</a>
									</div>
								</td>
							</tr>
							<tr>
								<td class="sonata-ba-list-label" width="40%">
									Mon Club
								</td>
								<td>
									<div class="btn-group">
										<a class="btn btn-link btn-flat" href="{{ path('admin_application_bde_club_edit', {id: app.user.club.id}) }}">
											<i class="fa fa-fw fa-pencil"></i> Editer
										</a>
										<a class="btn btn-link btn-flat" href="{{ path('admin_application_bde_club_trombi', {id: app.user.club.id}) }}">
											<i class="fa fa-fw fa-users"></i> Trombinoscope
										</a>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	{% else %}
		{{ parent() }}
	{% endif %}
{% endblock %}
