{% extends '::base.bis.html.twig' %}

{% block title 'Associatif' %}

{% block body %}
    {% sonata_template_box 'Liste des clubs' %}  
    <section class="panel">
        <div class="panel-body">
            {% for category, club_list in club_list_by_category %}
                <div class="row">
                    <h1>{{ category }}</h1>
                    {% for club in club_list %}
                        <div class="col-lg-6 col-sm-12">
                            <div class="blocClub">
                                <h2>
                                    <a href="{{ path('application_bde_club_show', { 'id': club.id, 'shortcode': club.shortcode }) }}">{{ club.title }}</a>
                                </h2>

                                <div style="min-height:90px;">
                                    <div style="float: left;">
                                        <a href="{{ path('application_bde_club_show', { 'id': club.id, 'shortcode': club.shortcode }) }}">
                                            {% thumbnail club.logo, 'small' with {'class': 'logoClub'} %}
                                        </a>
                                    </div>
                                    <div style="text-align:justify;">
                                        {{ club.abstract }}
                                    </div>
                                </div>
                            </div>
                            <hr />
                        </div>
                    {% else %}
                        Aucun club
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}

{% block liClubs "class='active'" %}