<h2>Trombinoscope {{ club }}</h2>
<h3>Bureau</h3>
{% for director in club.directors | sortBy('position', 'numeric') if director.student is not null and ((generator and ((contributorOnly and isContributor(director.student.id)) or not contributorOnly)) or ( not generator)) %}
    {% if loop.first %}
        <div class="row text-center">
    {% endif %}
            <div class="{{ generator ? 'col-xs-3' : 'col-sm-2' }}"{% if not generator and loop.index > 6 or generator and loop.index > 4 %} style="margin-top:6px;"{% endif %}>
                <img src="{{ ('https://bde.esiee.fr/fairpay/api/students/photo/by-id/' ~ director.student.id ~ '.jpg') | dataUri }}" style="width:111px;height:148px;background-color:grey;" /><br />
                <div style="white-space:nowrap;">{{ director.student.lastName }} {{ director.student.firstName }}</div>
                {% if director.phone is not null and director.phone|length > 0 %}{{ director.phone }}<br />{% endif %}
                {% if director.job   is not null and director.job|length > 0 %}<b style="margin-bottom:6px;display:block;">{{ director.job }}</b>{% endif %}
                {% if not generator %}<span student-id-contributor="{{ director.student.id }}"><i class="fa fa-spinner fa-spin"></i></span>{% endif %}
            </div>
    {% if generator and loop.index % 4 == 0 or not generator and loop.index % 6 == 0 %}
        </div><div class="row text-center">
    {% endif %}
{% else %}
    Pas de bureau renseigné.
{% endfor %}
</div>
<h3 style="margin-top: 0px;">Membres</h3>
{% for member in club.members if member.student is not null and ((generator and ((contributorOnly and isContributor(member.student.id)) or not contributorOnly)) or (not generator)) %}
    {% if loop.first %}
        <div class="row text-center">
    {% endif %}
            <div class="{{ generator ? 'col-xs-3' : 'col-sm-2' }}"{% if not generator and loop.index > 6 or generator and loop.index > 4 %} style="margin-top:6px;"{% endif %}>
                <img src="{{ ('https://bde.esiee.fr/fairpay/api/students/photo/by-id/' ~ member.student.id ~ '.jpg') | dataUri }}" style="width:111px;height:148px;background-color:grey;" /><br />
                <div style="white-space:nowrap;">{{ member.student.lastName }} {{ member.student.firstName }}</div>
                {% if not generator %}<span student-id-contributor="{{ member.student.id }}"><i class="fa fa-spinner fa-spin"></i></span>{% endif %}
            </div>
    {% if generator and loop.index % 4 == 0 or not generator and loop.index % 6 == 0 %}
        </div><div class="row text-center">
    {% endif %}
{% else %}
    Pas de membres renseignés.
{% endfor %}
    </div>
