<h2>Trombinoscope {{ club }}</h2>
<h3>Bureau</h3>
<div class="row text-center">
    {% for director in club.directors | sortBy('position', 'numeric') if director.student is not null and ((generator and isContributor(director.student.id)) or (not generator)) %}
        <div class="{{ generator ? 'col-xs-3' : 'col-sm-2' }}">
            <img src="https://cloud.votix.net/upic/by-mail/{{ director.student.email }}" style="width:111px;height:148px;background-color:grey;" /><br />
            {{ director.student.lastName }} {{ director.student.firstName }}<br />
            {% if director.phone is not null %}{{ director.phone }}<br />{% endif %}
            {% if director.job   is not null %}<b style="margin-bottom:6px;display:block;">{{ director.job }}</b>{% endif %}
            {% if not generator %}<span student-id-contributor="{{ director.student.id }}"><i class="fa fa-spinner fa-spin"></i></span>{% endif %}
        </div>
    {% else %}
        Pas de bureau renseigné.
    {% endfor %}
</div>
<h3>Membres</h3>
<div class="row text-center">
    {% for member in club.members | sortBy('student', 'string') if member.student is not null and ((generator and isContributor(member.student.id)) or (not generator)) %}
        <div class="{{ generator ? 'col-xs-3' : 'col-sm-2' }}" {% if not generator and loop.index > 6 or generator and loop.index > 4 %}style="margin-top:6px;"{% endif %}>
            <img src="https://cloud.votix.net/upic/by-mail/{{ member.student.email }}" style="width:111px;height:148px;background-color:grey;" /><br />
            <div>{{ member.student.lastName }} {{ member.student.firstName }}</div>
            {% if not generator %}<span student-id-contributor="{{ member.student.id }}"><i class="fa fa-spinner fa-spin"></i></span>{% endif %}
        </div>
    {% else %}
        Pas de membres renseignés.
    {% endfor %}
</div>