{% extends 'ApplicationSonataNewsBundle:Post:layout.html.twig' %}

{% block title %}News{% endblock %}

{% block archive %}
    {% sonata_template_box 'Liste des news' %}
    {% for post in pager.getResults() %}
        {% if post.publicationDateStart|date('U') < 'now'|date('U') %}
            <div class="blog-item">
                <div class="row">
                    <div class="col-lg-2 col-sm-2">
                        <div class="date-wrap">
                            <span class="date">{{ post.publicationDateStart | format_date("dd") }}</span>
                            <span class="month">{{ post.publicationDateStart | format_date("MMMM") | capitalize }}</span>
                        </div>
{#                             <div class="comnt-wrap">
                            <span class="comnt-ico">
                                <i class="fa fa-comments"></i>
                            </span>
                            <span class="value">15</span>
                        </div> #}
                    </div>
                    <div class="col-lg-10 col-sm-10">
                        {% if post.photo is not null %}
                            <div class="blog-img">
                                <img src="{% path post.photo, 'reference' %}" alt=""/>
                            </div>
                        {% else %}
                            <h1 style="margin-top:0px;"><a href="{{ url('sonata_news_view', { 'permalink': sonata_news_permalink(post) }) }}">{{ post.title }}</a></h1>
                            <p style="text-align:justify;">{{ post.abstract }}</p>
                            <a href="{{ url('sonata_news_view', { 'permalink': sonata_news_permalink(post) }) }}" class="btn btn-default">Lire la suite</a>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-sm-2 text-right">
                        <div class="author">
                            {{ 'archive_author'|trans({'%author%': post.author }, 'SonataNewsBundle') }}
                            {# By <a href="#">Admin</a> #}
                        </div>
                        <ul class="list-unstyled">
                            {% for tag in post.tags %}
                                {% if tag.enabled %}
                                    <li><a href="{{ path('sonata_news_tag', { 'tag': tag.slug } ) }}"><em>{{ tag.name }}</em></a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-lg-10 col-sm-10">
                        {% if post.photo is not null %}
                            <h1><a href="{{ url('sonata_news_view', { 'permalink': sonata_news_permalink(post) }) }}">{{ post.title }}</a></h1>
                            <p style="text-align:justify;">{{ post.abstract }}</p>
                            <a href="{{ url('sonata_news_view', { 'permalink': sonata_news_permalink(post) }) }}" class="btn btn-default">Lire la suite</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
    {% else %}
        {{ 'no_post_found'|trans({}, 'SonataNewsBundle') }}
    {% endfor %}

    <div class="text-center">
        <ul class="pagination">
            {% if pager.page > 2  %}
                <li><a href="{{ url(route, route_parameters|merge({'page': 1})) }}" title="{{ 'link_first_pager'|trans({}, 'SonataAdminBundle') }}">&laquo;</a></li>
            {% endif %}

            {% if pager.page != pager.previouspage %}
                <li><a href="{{ url(route, route_parameters|merge({'page': pager.previouspage})) }}" title="{{ 'link_previous_pager'|trans({}, 'SonataAdminBundle') }}">&lsaquo;</a></li>
            {% endif %}

            {# Set the number of pages to display in the pager #}
            {% set links = pager.getLinks(4) %}
            {%  if links|length > 1 %}
                {% for page in links %}
                    {% if page == pager.page %}
                        <li class="active"><a href="{{ url(route, route_parameters|merge({'page': page})) }}">{{ page }}</a></li>
                    {% else %}
                        <li><a href="{{ url(route, route_parameters|merge({'page': page})) }}">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}
            {% endif %}

            {% if pager.page != pager.nextpage %}
                <li><a href="{{ url(route, route_parameters|merge({'page': pager.nextpage})) }}" title="{{ 'link_next_pager'|trans({}, 'SonataAdminBundle') }}">&rsaquo;</a></li>
            {% endif %}

            {% if pager.page != pager.lastpage and pager.lastpage != pager.nextpage %}
                <li><a href="{{ url(route, route_parameters|merge({'page': pager.lastpage})) }}" title="{{ 'link_last_pager'|trans({}, 'SonataAdminBundle') }}">&raquo;</a></li>
            {% endif %}
        </ul>
    </div>
{% endblock %}