{% extends '::base.html.twig' %}

{% block body %}
    {% sonata_template_box 'This is the post template. Feel free to override it.' %}
    <section class="panel">
        <header class="panel-heading">
            <h1>
                <a href="{{ url('sonata_news_view', { 'permalink': sonata_news_permalink(post) }) }}">{{ post.title }}</a>
            </h1>
        </header>
        <div class="panel-body profile-activity">

            <div>
                <h5>
                    <i class="fa fa-calendar"></i>
                    {{ post.publicationDateStart | format_date }}

                    <span class="sonata-blog-post-author">{{ 'archive_author'|trans({'%author%': post.author }, 'SonataNewsBundle') }}</span>
                </h5>
            </div>

            <div class="sonata-blog-post-information">
                <div class="sonata-blog-post-tag-container">
                    <div class="sonata-blog-post-tag-title">
                        {% if post.tags|length > 1 %}
                            <i class="fa fa-tags"></i>
                        {% else %}
                            <i class="fa fa-tag"></i>
                        {% endif %}
                        {{ 'published_under'|transchoice(post.tags|length, {}, 'SonataNewsBundle') }}
                    </div>
                    <div class="sonata-blog-post-tag-list">
                        {% for tag in post.tags %}
                            <a href="{{ url('sonata_news_tag', { 'tag': tag.slug } ) }}">{{ tag.name }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="sonata-blog-post-content">
                {{ post.content|raw }}
            </div>
        </div>
    </section>
    
    {% if post.iscommentable %}
        {{ sonata_block_render_event('sonata.comment', {'id': post.id ~ '-' ~ post.slug }) }}
    {% else %}
        <div>
            {{ 'message_comments_are_closed'|trans({}, 'SonataNewsBundle') }}
        </div>
    {% endif %}
{% endblock %}