<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:site_name" content="Ferus - BDE ESIEE Paris"/>
        <meta property="og:image" content="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('logoFerus_Transparent_Noir.png') }}"/>
        <meta property="og:locale" content="fr_FR"/>
        <meta name="description" content="Site web de Ferus, le BDE de l'ESIEE Paris.">
        <link rel="icon" type="image/vnd.microsoft.icon" href="{{ asset('favicon.ico') }}" />
        <title>{% block title %}Ferus{% endblock %}</title>

        {% block stylesheets %}
            {% stylesheets 
                'bundles/applicationbde/css/bootstrap.min.css'
                'bundles/applicationbde/css/theme.css'
                'bundles/applicationbde/css/bootstrap-reset.bis.css'
                'bundles/applicationbde/css/font-awesome.css'
                'bundles/applicationbde/css/style.bis.css'
                'bundles/applicationbde/css/style-responsive.bis.css'

                filter='cssrewrite,?yui_css' 
            %}
                <link rel="stylesheet" href="{{ asset_url }}" type='text/css' />
            {% endstylesheets %} 
            <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic" type='text/css' />
            <link href='//fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
            {% if is_granted('ROLE_EDITOR') %}
                <link rel="stylesheet" href="{{ asset('bundles/applicationbde/css/bootstrap-dialog.css') }}" type='text/css' />
            {% endif %}
        {% endblock %}
        

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
        <!--[if lt IE 9]>
          <script src="{{ asset('bundles/applicationbde/js/html5shiv.js') }}"></script>
          <script src="{{ asset('bundles/applicationbde/js/respond.min.js') }}"></script>
        <![endif]-->
    </head>

    <body>
        <!--header start-->
        <header class="header-frontend">
            <div class="navbar navbar-default navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="{{ url('application_bde_homepage') }}"><span>FERUS</span> - BDE ESIEE PARIS</a>
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="fa fa-bars"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse ">
                        <ul class="nav navbar-nav">
                            <li {% block liAccueil %}{% endblock %}>
                                <a href="{{ path('application_bde_homepage') }}">
                                    <i class="fa fa-home"></i>
                                    Accueil
                                </a>
                            </li>
                            <li {% block liNews %}{% endblock %}>
                                <a href="{{ path('sonata_news_archive') }}">
                                    <i class="fa fa-archive"></i>
                                    News
                                </a>
                            </li>
                            <li {% block liClubs %}{% endblock %}>
                                <a href="{{ path('application_bde_club') }}">
                                    <i class="fa fa-rocket"></i>
                                    Associatif
                                </a>
                            </li>
                            <li {% block liCalendrier %}{% endblock %}>
                                <a href="{{ path('application_bde_events') }}">
                                    <i class="fa fa-calendar"></i>
                                    Calendrier
                                </a>
                            </li>
                            <li class="dropdown{% block liServices %}{% endblock %}">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">
                                    <i class="fa fa-cloud"></i>
                                    Services <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="https://bde.esiee.fr/annales/">
                                            <i class="fa fa-book fa-fw"></i>
                                            Annales
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('application_bde_eat_traffic') }}">
                                            <i class="fa fa-cutlery fa-fw"></i>
                                            Eat'Traffic
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('application_bde_breguet_shop') }}">
                                            <i class="fa fa-shopping-cart fa-fw"></i>
                                            Breguet Shop
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('application_bde_good_plan') }}">
                                            <i class="fa fa-lightbulb-o fa-fw"></i>
                                            Bons Plans
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('application_bde_lost_property') }}">
                                            <i class="fa fa-bolt fa-fw"></i>
                                            Objets Trouvés
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li {% block liMedia %}{% endblock %}>
                                <a href="{{ path('sonata_media_gallery_index') }}">
                                    <i class="fa fa-camera-retro"></i>
                                    Media
                                </a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">
                                    <i class="fa fa-user"></i>
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                        <li><a href="{{ path('sonata_user_profile_show') }}"><i class="fa fa-suitcase fa-fw"></i>{{ app.user.username }}</a></li>
                                        {% if app.security and app.security.token and is_granted('ROLE_SONATA_ADMIN') %}
                                            <li>
                                                <a href="{{ path('sonata_admin_dashboard') }}">
                                                    <i class="fa fa-tachometer fa-fw"></i>{{ "title_dashboard"|trans({}, 'SonataAdminBundle') }}
                                                </a>
                                            </li>
                                        {% endif %}
                                        {# <li><a href="#"><i class="fa fa-cog fa-fw"></i>Paramètres</a></li>
                                        <li><a href="#"><i class="fa fa-bell-o fa-fw"></i> Notification</a></li> #}
                                        {% if is_granted('ROLE_EDITOR') and contains_editable_block is defined %}
                                            <li><a id="toggleEditor" href="#"><i class="fa fa-pencil fa-fw"></i>Editer</a></li>
                                        {% endif %}
                                        <li><a href="{{ path('sonata_user_security_logout') }}"><i class="fa fa-key fa-fw"></i>Déconnexion</a>
                                        </li>
                                    {% else %}
                                        <li><a href="{{ path('sonata_user_security_login') }}">Connexion</a></li>
                                    {% endif %}
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <!--header end-->

        {% block breadcrumbs %}
        {% endblock %}

        <!--container start-->
        {% block container %}
        <div{% block containerClass '' %}>
            <div class="container">
                <div class="row">
                    {% for type, flashMessages in app.session.flashbag.all() %}
                        {% for flashMessage in flashMessages %}
                            <div class="alert alert-{{ type }}">
                                {{ flashMessage }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% block body %}
                    {% endblock %}
                </div>
            </div>
        </div>
        {% endblock %}
        <!--container end-->

        <!--footer start-->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-sm-3">
                        <h1>Nous contacter</h1>
                        <address>
                            <p>Adresse: 2 boulevard Blaise Pascal, 93162</p>
                            <p>Noisy le Grand, France</p>

                            <p>Téléphone : <a href="tel:+33145926660">(+33) 1 45 92 66 60</a></p>
                            <p>Email : <script>document.write('<'+'a'+' '+'h'+'r'+'e'+'f'+'='+"'"+'m'+'a'+'&'+'#'+'1'+'0'+'5'+';'+'l'+'&'+'#'+'1'+'1'+'6'+';'+'&'+
'#'+'1'+'1'+'1'+';'+'&'+'#'+'5'+'8'+';'+'b'+'d'+'e'+'&'+'#'+'3'+'7'+';'+'&'+'#'+'5'+'0'+';'+'&'+'#'+
'6'+'9'+';'+'e'+'s'+'&'+'#'+'3'+'7'+';'+'6'+'9'+'&'+'#'+'1'+'0'+'1'+';'+'%'+'6'+'5'+'&'+'#'+'6'+'4'+
';'+'&'+'#'+'1'+'0'+'1'+';'+'d'+'u'+'&'+'#'+'4'+'6'+';'+'&'+'#'+'1'+'0'+'1'+';'+'&'+'#'+'1'+'1'+'5'+
';'+'i'+'e'+'%'+'&'+'#'+'5'+'4'+';'+'5'+'&'+'#'+'4'+'6'+';'+'f'+'&'+'#'+'3'+'7'+';'+'7'+'&'+'#'+'5'+
'0'+';'+"'"+'>'+'b'+'d'+'&'+'#'+'1'+'0'+'1'+';'+'&'+'#'+'4'+'6'+';'+'e'+'s'+'i'+'e'+'e'+'&'+'#'+'6'+
'4'+';'+'e'+'d'+'&'+'#'+'1'+'1'+'7'+';'+'&'+'#'+'4'+'6'+';'+'&'+'#'+'1'+'0'+'1'+';'+'s'+'i'+'e'+'e'+
'&'+'#'+'4'+'6'+';'+'&'+'#'+'1'+'0'+'2'+';'+'r'+'<'+'/'+'a'+'>');</script><noscript>[Activer le Javascript]</noscript></p>
                        </address>
                    </div>
                    <div class="col-lg-6 col-sm-6 sponsors">
                        <h1 class="text-center">
                            Nos partenaires
                        </h1>
                        <div style="text-align:center;">
                            <ul class="social-link-footer list-unstyled" style="display:inline-block;">
                                <li><a target="_blank" style="padding:0;" href="http://www.anacours.com/"><img src="{{ asset('bundles/applicationbde/img/sponsors/anacours.jpg') }}" /></a></li>
                                <li><a target="_blank" style="padding:0;" href="https://www.caisse-epargne.fr/"><img src="{{ asset('bundles/applicationbde/img/sponsors/caisse-epargne.gif') }}" /></a></li>
                                <li><a target="_blank" style="padding:0;" href="http://www.laforet.com/"><img src="{{ asset('bundles/applicationbde/img/sponsors/foret.jpg') }}" /></a></li>
                                <li><a target="_blank" style="padding:0;" href="http://www8.hp.com/fr/fr/home.html"><img src="{{ asset('bundles/applicationbde/img/sponsors/hp.jpg') }}" /></a></li>
                                <li><a target="_blank" style="padding:0;" href="http://www.dell.fr/"><img src="{{ asset('bundles/applicationbde/img/sponsors/dell.jpg') }}" /></a></li>
                                <li><a target="_blank" style="padding:0;" href="http://www.subwayfrance.fr/trouver-un-restaurant/recherche/48.84233889999999_2.5767865999999913/1/Noisy%20Le%20Grand%20Champy"><img src="{{ asset('bundles/applicationbde/img/sponsors/subway.jpg') }}" /></a></li>
                                <li><a target="_blank" style="padding:0;" href="http://eso-suposteo.fr/clinique-osteopathique"><img src="{{ asset('bundles/applicationbde/img/sponsors/eso.png') }}" /></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-3">
                        <h1>Restez connecté</h1>
                        <ul class="social-link-footer list-unstyled">
                            <li><a target="_blank" href="https://www.facebook.com/bde.esieeparis"><i class="fa fa-facebook"></i></a></li>
                            <li><a target="_blank" href="https://twitter.com/BDE_ESIEE_Paris"><i class="fa fa-twitter"></i></a></li>
                            <li><a target="_blank" href="https://vine.co/u/1091066051275403264"><i class="fa fa-vine"></i></a></li>
                            <li><a target="_blank" href="https://www.youtube.com/user/bdeesieeparis"><i class="fa fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!--footer end-->

        {% block javascripts %}
            <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
            <!--[if lt IE 9]>
                <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
            <![endif]-->

            {% javascripts 
                'bundles/applicationbde/js/jquery.js' 
                'bundles/applicationbde/js/bootstrap.min.js' 
                'bundles/applicationbde/js/modernizr.custom.js'

                filter='?yui_js' 
            %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %} 
            <!-- Piwik -->
            <script type="text/javascript">
              var _paq = _paq || [];
              _paq.push(['trackPageView']);
              _paq.push(['enableLinkTracking']);
              (function() {
                var u=(("https:" == document.location.protocol) ? "https" : "http") + "://{{ piwik_url }}";
                _paq.push(['setTrackerUrl', u+'piwik.php']);
                _paq.push(['setSiteId', {{ piwik_id }}]);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
                g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
              })();
            </script>
            <noscript><p><img src="http://{{ piwik_url }}piwik.php?idsite={{ piwik_id }}" style="border:0;" alt="" /></p></noscript>
            <!-- End Piwik Code -->
            {% if is_granted('ROLE_EDITOR') and contains_editable_block is defined %}
                <script src="{{ asset('bundles/applicationbde/js/bootstrap-dialog.js') }}"></script>
                <script>
                    var edit_mode = false;
                    var counter = 0;
                    var config = {
                        "toolbar": [
                            ["Cut", "Copy", "Paste", "PasteText", "PasteFromWord", "-", "Undo", "Redo", "-", "Preview"],
                            ["Find", "Replace", "-", "SelectAll", "-", "SpellChecker", "Scayt"], "\/", ["Bold", "Italic", "Underline", "Strike", "Subscript", "Superscript", "-", "RemoveFormat"],
                            ["Link", "Unlink", "Anchor"],
                            ["NumberedList", "BulletedList", "-", "Blockquote", "-", "JustifyLeft", "JustifyCenter", "JustifyRight", "JustifyBlock"], "\/", ["Format", "FontSize"],
                            ["TextColor", "BGColor"],
                            ["Source", "Maximize"],
                            ["Image", "Table", "HorizontalRule", "SpecialChar"]
                        ],
                        "allowedContent": true,
                        "filebrowserBrowseUrl": "{{ path('admin_sonata_media_media_ckeditor_browser') }}",
                        "filebrowserImageBrowseUrl": "{{ path('admin_sonata_media_media_ckeditor_browser') }}?provider=sonata.media.provider.image",
                        "filebrowserUploadUrl": "{{ path('admin_sonata_media_media_ckeditor_upload') }}?provider=sonata.media.provider.file",
                        "filebrowserImageUploadUrl": "{{ path('admin_sonata_media_media_ckeditor_upload') }}?provider=sonata.media.provider.image",
                        "readOnly": false
                    };
                    $(function() { 
                        var script = document.createElement("script");
                        script.type = "text/javascript";
                        script.async = true;
                        script.onload = function(){
                            CKEDITOR.dtd.$removeEmpty['i'] = false;
                            CKEDITOR.disableAutoInline = true;
                        };
                        script.src = "{{ asset('bundles/ivoryckeditor/ckeditor.js') }}";
                        $('body:last-child').append(script);

                        $('div.editable_block').each(function() {
                            $(this).attr('id', 'editor' + counter);
                            counter++;
                        });

                        $('a#toggleEditor').click(function(e) {
                            CKEDITOR.dtd.$removeEmpty['i'] = false;
                            var html = [], title = [];
                            $('div.editable_block').each(function() {
                                if (!edit_mode) {
                                    $(this).attr('contenteditable', 'true');
                                    CKEDITOR.inline($(this).attr('id'), config);
                                }
                                else { 
                                    $(this).attr('contenteditable', 'false');
                                    html.push($(this).html());
                                    title.push($(this).attr('blockTitle'));
                                }
                            });
                            if (!edit_mode) {
                                $('a#toggleEditor').html('<i class="fa fa-pencil fa-fw"></i>Enregistrer');
                            } else {
                                for(k in CKEDITOR.instances) {
                                    CKEDITOR.instances[k].destroy();
                                }
                                $('a#toggleEditor').html('<i class="fa fa-pencil fa-fw"></i>Editer');
                                $.ajax({
                                    method: 'POST',
                                    url: "{{ path('application_sonata_block_ajax_update') }}",
                                    async: false,
                                    data: {'title[]': title, 'html[]': html},
                                    complete: function(request) {
                                        console.log(request);
                                        var error = true, message = 'Une erreur est survenue.', type = BootstrapDialog.TYPE_SUCCESS, windows_title = 'Oh Yeah ! <i class="fa fa-smile-o"></i>';
                                        if (Array.isArray(request.responseJSON))
                                        {
                                            error = false;
                                            message = '';
                                            for (var i = 0, c = request.responseJSON.length; i < c; i++)
                                            {
                                                if (request.responseJSON[i])
                                                {
                                                    message += title[i] + ' : OK<br />';
                                                }
                                                else {
                                                    message += title[i] + ' : PAS OK -_-<br />';
                                                    type = BootstrapDialog.TYPE_WARNING;
                                                    windows_title = 'Attention ! <i class="fa fa-exclamation-triangle"></i>';
                                                }
                                            }
                                        }
                                        if (!error) {
                                            BootstrapDialog.alert({
                                                type: type,
                                                title: windows_title,
                                                message: message
                                            });
                                        } else {
                                            BootstrapDialog.alert({
                                                type: BootstrapDialog.TYPE_DANGER,
                                                title: 'Oh No ! <i class="fa fa-frown-o"></i>',
                                                message: message
                                            });
                                        }
                                    }
                                });
                            }
                            edit_mode = !edit_mode;
                        });
                    });
                </script>
            {% endif %}
        {% endblock %}
    </body>
</html>