<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/vnd.microsoft.icon" href="{{ asset('favicon.ico') }}?v=2" />
        <title>{% block title 'Zéphyr' %}</title>
        <meta name="description" content="{% block description 'Site web de Zéphyr, BDE ESIEE Paris.' %}">
        {% block opengraph %}
        <meta property="og:site_name"   content="{% block og_site_name 'Zéphyr - BDE ESIEE Paris' %}"/>
        <meta property="og:url"         content="{% block og_url %}{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}{% endblock %}" />
        <meta property="og:image"       content="{% block og_image %}{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('logoZephyr_Transparant_Noir.png') }}{% endblock %}"/>
        <meta property="og:locale"      content="fr_FR"/>
        <meta property="og:title"       content="{{ block('title') }}"/>
        <meta property="og:description" content="{{ block('description') }}" />
        <meta property="og:type"        content="{% block og_type 'website' %}" />
        {% endblock %}

        {% block stylesheets %}
            {% stylesheets 
                'bundles/applicationbde/css/bootstrap.min.css'
                'bundles/applicationbde/css/theme.css'
                'bundles/applicationbde/less/bootstrap-reset.less'
                'bundles/applicationbde/css/font-awesome.css'
                'bundles/applicationbde/less/style.less'
                'bundles/applicationbde/css/style-responsive.bis.css'

                filter='cssrewrite,?yui_css' 
                output='css/base.min.css'
            %}
                <link rel="stylesheet" href="{{ asset_url }}" type='text/css' />
            {% endstylesheets %} 
            <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic" type='text/css' />
            <link href='//fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
            {% if is_granted('ROLE_EDITOR') %}
                <link rel="stylesheet" href="{{ asset('bundles/applicationbde/css/bootstrap-dialog.css') }}" type='text/css' />
            {% endif %}
        {% endblock %}
        

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
        <!--[if lt IE 9]>
          <script src="{{ asset('bundles/applicationbde/js/html5shiv.js') }}"></script>
          <script src="{{ asset('bundles/applicationbde/js/respond.min.js') }}"></script>
        <![endif]-->
    </head>

    <body>
        <!--header start-->
        <header class="header-frontend">
            <div class="navbar navbar-default navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="{{ url('application_bde_homepage') }}"><span>Zéphyr</span> - BDE ESIEE PARIS</a>
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="fa fa-bars"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse ">
                        <ul class="nav navbar-nav">
                            <li {% block liAccueil %}{% endblock %}>
                                <a href="{{ path('application_bde_homepage') }}">
                                    <i class="fa fa-home"></i>
                                    Accueil
                                </a>
                            </li>
                            <li {% block liNews %}{% endblock %}>
                                <a href="{{ path('sonata_news_archive') }}">
                                    <i class="fa fa-newspaper-o"></i>
                                    News
                                </a>
                            </li>
                            <li class="dropdown{% block liAssociation %}{% endblock %}">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">
                                    <i class="fa fa-institution"></i>
                                    Association <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="{{ path('application_bde_team') }}">
                                            <i class="fa fa-users fa-fw"></i>
                                            Equipe
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('application_bde_programme') }}">
                                            <i class="fa fa-briefcase fa-fw"></i>
                                            Programme
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('application_bde_club') }}">
                                            <i class="fa fa-rocket fa-fw"></i>
                                            Clubs
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li {% block liCalendrier %}{% endblock %}>
                                <a href="{{ path('application_bde_events') }}">
                                    <i class="fa fa-calendar"></i>
                                    Calendrier
                                </a>
                            </li>
                            <li class="dropdown{% block liServices %}{% endblock %}">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">
                                    <i class="fa fa-cloud"></i>
                                    Services <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="https://bde.esiee.fr/annales/">
                                            <i class="fa fa-book fa-fw"></i>
                                            Annales
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://bde.esiee.fr/fairpay/">
                                            <i class="fa fa-credit-card fa-fw"></i>
                                            FairPay
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://bde.esiee.fr/yearbook/">
                                            <i class="fa fa-picture-o fa-fw"></i>
                                            Yearbook
                                        </a>
                                    </li>
				    <li>
                                        <a href="https://bde.esiee.fr/snapme/">
                                            <i class="fa fa-camera fa-fw"></i>
                                            Snap Me
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://bde.esiee.fr/cours-1-euro/">
                                            <i class="fa fa-graduation-cap fa-fw"></i>
                                            Cours à 1 euro
                                        </a>
                                    </li>
									<li>
                                        <a href="https://bde.esiee.fr/job-board/">
                                            <i class="fa fa-briefcase fa-fw"></i>
                                            JobBoard
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('application_shop_breguet_shop') }}">
                                            <i class="fa fa-shopping-cart fa-fw"></i>
                                            Breguet Shop
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('application_service_bargain') }}">
                                            <i class="fa fa-lightbulb-o fa-fw"></i>
                                            Bons Plans
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('application_service_lost_property') }}">
                                            <i class="fa fa-archive fa-fw"></i>
                                            Objets Trouvés
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li {% block liMedia %}{% endblock %}>
                                <a href="{{ path('sonata_media_gallery_index') }}">
                                    <i class="fa fa-camera-retro"></i>
                                    Média
                                </a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">
                                    <i class="glyphicon glyphicon-user"></i>
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                        <li><a href="{{ path('sonata_user_profile_show') }}"><i class="fa fa-suitcase fa-fw"></i>{{ app.user.username }}</a></li>
                                        {% if app.security and app.security.token and is_granted('ROLE_SONATA_ADMIN') %}
                                            <li>
                                                <a href="{{ path('sonata_admin_dashboard') }}">
                                                    <i class="fa fa-tachometer fa-fw"></i>{{ "title_dashboard"|trans({}, 'SonataAdminBundle') }}
                                                </a>
                                            </li>
                                        {% endif %}
                                        {# <li><a href="#"><i class="fa fa-cog fa-fw"></i>Paramètres</a></li>
                                        <li><a href="#"><i class="fa fa-bell-o fa-fw"></i> Notification</a></li> #}
                                        {% if is_granted('ROLE_EDITOR') and contains_editable_block is defined %}
                                            <li><a id="toggleEditor" href="#"><i class="fa fa-pencil fa-fw"></i>Editer</a></li>
                                        {% endif %}
                                        <li><a href="{{ path('sonata_user_security_logout') }}"><i class="fa fa-power-off fa-fw"></i>Déconnexion</a>
                                        </li>
                                    {% else %}
                                        <li><a href="{{ path('sonata_user_security_login') }}">Connexion</a></li>
                                    {% endif %}
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <!--header end-->

        {% block breadcrumbs %}
        {% endblock %}

        <!--container start-->
        {% block container %}
        <div{% block containerClass '' %}>
            <div class="container">
                <div class="row">
                    {% for type, flashMessages in app.session.flashbag.all() %}
                        {% for flashMessage in flashMessages %}
                            {% if 'fos_user_' in type %}
                                {% set typeSplit = type|split('_')|last %}
                                <div class="alert alert-{{ typeSplit }}">
                                    {{ flashMessage|trans({}, 'FOSUserBundle') }}
                                </div>
                            {% else %}
                                <div class="alert alert-{{ type }}">
                                    {{ flashMessage }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    {% block body %}
                    {% endblock %}
                </div>
            </div>
        </div>
        {% endblock %}
        <!--container end-->

        <!--footer start-->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-sm-3">
                        <h1>Nous contacter</h1>
                        <address>
                            <p>Adresse: 2 boulevard Blaise Pascal, 93162</p>
                            <p>Noisy le Grand, France</p>

                            <p>Téléphone : <a href="tel:+33145926660">(+33) 1 45 92 66 60</a></p>
                            <p>Email : <script>document.write('<'+'a'+' '+'h'+'r'+'e'+'f'+'='+"'"+'&'+'#'+'1'+'0'+'9'+';'+'&'+'#'+'9'+'7'+';'+'i'+'l'+'t'+'o'+'&'+
                                    '#'+'5'+'8'+';'+'b'+'d'+'%'+'6'+'5'+'&'+'#'+'6'+'4'+';'+'&'+'#'+'3'+'7'+';'+'6'+'5'+'d'+'u'+'&'+'#'+
                                    '4'+'6'+';'+'&'+'#'+'1'+'0'+'1'+';'+'s'+'i'+'e'+'%'+'6'+'5'+'&'+'#'+'4'+'6'+';'+'&'+'#'+'1'+'0'+'2'+
                                    ';'+'%'+'7'+'2'+"'"+'>'+'&'+'#'+'9'+'8'+';'+'d'+'e'+'&'+'#'+'6'+'4'+';'+'&'+'#'+'1'+'0'+'1'+';'+'d'+
                                    'u'+'&'+'#'+'4'+'6'+';'+'e'+'s'+'i'+'e'+'e'+'&'+'#'+'4'+'6'+';'+'&'+'#'+'1'+'0'+'2'+';'+'r'+'<'+'/'+
                                    'a'+'>');</script><noscript>[Activer le Javascript]</noscript></p>
                        </address>
                    </div>
                    <div class="col-lg-3 col-sm-3 quick-links">
                        <h1>BDE ESIEE Paris</h1>
                        <p><a href="{{ path('application_bde_association') }}"><i class="fa fa-fw fa-university" style="color:white;"></i> L'association</a></p>
                        <p><a href="{{ path('application_bde_team') }}"><i class="fa fa-fw fa-users" style="color:white;"></i> L'équipe</a></p>
                        <p><a href="{{ path('application_bde_partnership') }}"><i class="fa fa-fw fa-building" style="color:white;"></i> Devenir partenaire</a></p>
                        <p><a href="{{ path('nelmio_api_doc_index') }}"><i class="fa fa-fw fa-code" style="color:white;"></i> Développeurs</a></p>
                    </div>
                    <div class="col-lg-3 col-sm-3">
                        <a href="{{ path('application_service_bargain') }}" style="color:white;"><h1>Nos partenaires</h1></a>
                        <div>
                            <ul class="social-link-footer list-unstyled" style="display:inline-block;">
                                <li><a target="_blank" style="padding:0;" href="http://www.decathlon.com/"><img src="{{ asset('bundles/applicationbde/img/sponsors/decathlon.jpg') }}" /></a></li>
                                <li><a target="_blank" style="padding:0;" href="https://www.caisse-epargne.fr/"><img src="{{ asset('bundles/applicationbde/img/sponsors/banque.jpg') }}" /></a></li>
                                <li><a target="_blank" style="padding:0;" href="http://www.parrot.com/fr/"><img src="{{ asset('bundles/applicationbde/img/sponsors/parrot.jpg') }}" /></a></li>
                                <li><a target="_blank" style="padding:0;" href="http://www.selectronique.fr/"><img src="{{ asset('bundles/applicationbde/img/sponsors/selectronique.jpg') }}" /></a></li>
                                <li><a target="_blank" style="padding:0;" href="http://www.soonnight.com/"><img src="{{ asset('bundles/applicationbde/img/sponsors/soonnight.jpg') }}" /></a></li>
                                <li><a target="_blank" style="padding:0;" href="http://www.placeminute.com/"><img src="{{ asset('bundles/applicationbde/img/sponsors/placeminute.jpg') }}" /></a></li>
                                <li><a target="_blank" style="padding:0;" href="http://www.le-scribe-numerique.fr/"><img src="{{ asset('bundles/applicationbde/img/sponsors/lescribenumerique.jpg') }}" /></a></li>
                                <li><img src="{{ asset('bundles/applicationbde/img/sponsors/boulangerie.jpg') }}" /></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-3">
                        <h1>Restez connecté</h1>
                        <ul class="social-link-footer list-unstyled">
                            <li><a target="_blank" href="https://www.facebook.com/bde.esieeparis"><i class="fa fa-facebook"></i></a></li>
                            <li><a target="_blank" href="https://twitter.com/BDE_ESIEE_Paris"><i class="fa fa-twitter"></i></a></li>
                            <li><a target="_blank" href="https://vine.co/u/1091066051275403264"><i class="fa fa-vine"></i></a></li>
                            <li><a target="_blank" href="https://www.youtube.com/user/bdeesieeparis"><i class="fa fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!--footer end-->

        {% block javascripts %}
            <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
            <!--[if lt IE 9]>
                <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
            <![endif]-->

            {% javascripts 
                'bundles/applicationbde/js/jquery.js' 
                'bundles/applicationbde/js/bootstrap.min.js' 
                'bundles/applicationbde/js/modernizr.custom.js'

                filter='?yui_js' 
                output='js/base.min.js'
            %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %} 
            <!-- Piwik -->
            <script type="text/javascript">
              var _paq = _paq || [];
              _paq.push(['trackPageView']);
              _paq.push(['enableLinkTracking']);
              (function() {
                var u=(("https:" == document.location.protocol) ? "https" : "http") + "://{{ piwik_url }}";
                _paq.push(['setTrackerUrl', u+'piwik.php']);
                _paq.push(['setSiteId', {{ piwik_id }}]);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
                g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
              })();
            </script>
            <noscript><p><img src="http://{{ piwik_url }}piwik.php?idsite={{ piwik_id }}" style="border:0;" alt="" /></p></noscript>
            <!-- End Piwik Code -->
            {% if is_granted('ROLE_EDITOR') and contains_editable_block is defined %}
                <script src="{{ asset('bundles/applicationbde/js/bootstrap-dialog.js') }}"></script>
                <script>
                    var edit_mode = false;
                    var counter = 0;
                    var config = {
                        "toolbar": [
                            ["Cut", "Copy", "Paste", "PasteText", "PasteFromWord", "-", "Undo", "Redo", "-", "Preview"],
                            ["Find", "Replace", "-", "SelectAll", "-", "SpellChecker", "Scayt"], "\/", ["Bold", "Italic", "Underline", "Strike", "Subscript", "Superscript", "-", "RemoveFormat"],
                            ["Link", "Unlink", "Anchor"],
                            ["NumberedList", "BulletedList", "-", "Blockquote", "-", "JustifyLeft", "JustifyCenter", "JustifyRight", "JustifyBlock"], "\/", ["Format", "FontSize"],
                            ["TextColor", "BGColor"],
                            ["Source", "Maximize"],
                            ["Image", "Table", "HorizontalRule", "SpecialChar"]
                        ],
                        "allowedContent": true,
                        "filebrowserBrowseUrl": "{{ path('admin_sonata_media_media_ckeditor_browser') }}",
                        "filebrowserImageBrowseUrl": "{{ path('admin_sonata_media_media_ckeditor_browser') }}?provider=sonata.media.provider.image",
                        "filebrowserUploadUrl": "{{ path('admin_sonata_media_media_ckeditor_upload') }}?provider=sonata.media.provider.file",
                        "filebrowserImageUploadUrl": "{{ path('admin_sonata_media_media_ckeditor_upload') }}?provider=sonata.media.provider.image",
                        "readOnly": false
                    };
                    $(function() { 
                        var script = document.createElement("script");
                        script.type = "text/javascript";
                        script.async = true;
                        script.onload = function(){
                            CKEDITOR.dtd.$removeEmpty['i'] = false;
                            CKEDITOR.disableAutoInline = true;
                        };
                        script.src = "{{ asset('bundles/ivoryckeditor/ckeditor.js') }}";
                        $('body:last-child').append(script);

                        $('div.editable_block').each(function() {
                            $(this).attr('id', 'editor' + counter);
                            counter++;
                        });

                        $('a#toggleEditor').click(function(e) {
                            CKEDITOR.dtd.$removeEmpty['i'] = false;
                            var html = [], title = [];
                            $('div.editable_block').each(function() {
                                if (!edit_mode) {
                                    $(this).attr('contenteditable', 'true');
                                    CKEDITOR.inline($(this).attr('id'), config);
                                }
                                else { 
                                    $(this).attr('contenteditable', 'false');
                                    html.push($(this).html());
                                    title.push($(this).attr('blockTitle'));
                                }
                            });
                            if (!edit_mode) {
                                $('a#toggleEditor').html('<i class="fa fa-pencil fa-fw"></i>Enregistrer');
                            } else {
                                for(k in CKEDITOR.instances) {
                                    CKEDITOR.instances[k].destroy();
                                }
                                $('a#toggleEditor').html('<i class="fa fa-pencil fa-fw"></i>Editer');
                                $.ajax({
                                    method: 'POST',
                                    url: "{{ path('application_sonata_block_ajax_update') }}",
                                    async: false,
                                    data: {'title[]': title, 'html[]': html},
                                    complete: function(request) {
                                        console.log(request);
                                        var error = true, message = 'Une erreur est survenue.', type = BootstrapDialog.TYPE_SUCCESS, windows_title = 'Oh Yeah ! <i class="fa fa-smile-o"></i>';
                                        if (Array.isArray(request.responseJSON))
                                        {
                                            error = false;
                                            message = '';
                                            for (var i = 0, c = request.responseJSON.length; i < c; i++)
                                            {
                                                if (request.responseJSON[i])
                                                {
                                                    message += title[i] + ' : OK<br />';
                                                }
                                                else {
                                                    message += title[i] + ' : PAS OK -_-<br />';
                                                    type = BootstrapDialog.TYPE_WARNING;
                                                    windows_title = 'Attention ! <i class="fa fa-exclamation-triangle"></i>';
                                                }
                                            }
                                        }
                                        if (!error) {
                                            BootstrapDialog.alert({
                                                type: type,
                                                title: windows_title,
                                                message: message
                                            });
                                        } else {
                                            BootstrapDialog.alert({
                                                type: BootstrapDialog.TYPE_DANGER,
                                                title: 'Oh No ! <i class="fa fa-frown-o"></i>',
                                                message: message
                                            });
                                        }
                                    }
                                });
                            }
                            edit_mode = !edit_mode;
                        });
                    });
                </script>
            {% endif %}
        {% endblock %}
    </body>
</html>
