<aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
            <li>
                <a href="{{ path('application_bde_homepage') }}">
                    <i class="fa fa-home"></i>
                    <span>Accueil</span>
                </a>
            </li>
            <li>
                <a href="{{ path('sonata_news_archive') }}">
                    <i class="fa fa-archive"></i>
                    <span>News</span>
                </a>
            </li>
            <li>
                <a href="{{ path('application_bde_club') }}">
                    <i class="fa fa-rocket"></i>
                    <span>Clubs</span>
                </a>
            </li>
            <li>
                <a href="{{ path('application_bde_events') }}">
                    <i class="fa fa-calendar"></i>
                    <span>Calendrier</span>
                </a>
            </li>
            <li>
                <a href="{{ path('application_bde_breguet_shop') }}">
                    <i class="fa fa-shopping-cart"></i>
                    <span>Breguet Shop</span>
                </a>
            </li>
            <li>
                <a href="{{ path('sonata_media_gallery_index') }}">
                    <i class="fa fa-camera-retro"></i>
                    <span>Media</span>
                </a>
            </li>
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>