{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    <div class="col-sm-2 centered">
        <center>
            {% if object.thumbnail and admin.isGranted('EDIT', object) and admin.hasRoute('edit') %}
                <a href="{{ path('admin_application_sonata_news_post_edit', {'id' : object.id }) }}" style="float: left; margin-right: 6px;">{% thumbnail object.thumbnail, 'admin' with {'width': 90} %}</a>
            {% else %}
                <i class="fa fa-picture-o fa-3x"></i>
            {% endif %}
        </center>
    </div>
    <div class="col-sm-10">
        {% if admin.isGranted('EDIT', object) and admin.hasRoute('edit') %}
            <a href="{{ path('admin_application_sonata_news_post_edit', {'id' : object.id }) }}"><strong>{{ object.title }}</strong></a>
        {% else %}
            <strong>{{ object.title }}</strong>
        {% endif %}

        {% if object.author %}
            par {{ object.author }}
        {% endif %}
        {% if object.enabled %}
            {% if date(object.publicationDateStart) < date() %}
                <span class="label label-success"><i class="glyphicon glyphicon-eye-open"></i> Visible</span>
            {% else %}
                <span class="label label-warning"><i class="glyphicon glyphicon-eye-close"></i> Bientôt visible</span>
            {% endif %}
        {% else %}
            <span class="label label-danger"><i class="glyphicon glyphicon-eye-close"></i> Masquée</span>
        {% endif %}
        <br />

        {{ object.abstract|truncate(150) }}

        <br />
        {% if object.collection %}
            {{ object.collection.name }}
        {% endif %}

        {% if object.collection and object.tags|length > 0 %}
            ~
        {% endif %}

        {% for tag in object.tags %}
            {{ tag.name }}{% if not loop.last %}, {% endif %}
        {% endfor %}
    </div>
{% endblock %}
