{% spaceless %}
<!DOCTYPE html>
<html>
<head>
	<!-- If you delete this meta tag, the ground will open and swallow you. -->
	<meta name="viewport" content="width=device-width" />

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Ferus Mail Service</title>
</head>
 
<body style="background-color:#E7E7E7;margin:0px;">
	<!-- BODY -->
	<table class="body-wrap" style="width:100%;-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px">
		<tr>
			<td></td>
			<td class="container" style="background-color:#FFFFFF;display:block!important;max-width:600px!important;clear:both!important;margin:0 auto!important">
				<!-- content -->
				{% if mailName is defined %}<div style="margin:0 auto;font-size:10px;color:#666666;width:265px;">Ce message ne s'affiche pas correctement ? <a href="{{ hostname }}{{ mailName }}" target="_blank">Cliquez ici</a></div>{% endif %}
				<div class="content" style="max-width:600px;display:block;margin:0 auto;padding:15px">
					<table style="width:100%">
						<tr>
							<td>
								<p style="font-family:\'Helvetica Neue\', Helvetica, Helvetica, Arial, sans-serif;margin:0;padding:0;margin-bottom:10px;font-weight:400;font-size:14px;line-height:1.6"><img class="arrondi" src="{{ app.request.uriForPath('/bundles/applicationbde/img/banniere.png')| replace({'/app_dev.php': ''}) }}" style ="width:100%;-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px"/></p><!-- /hero -->
								<p style="margin:0;padding:0;margin-bottom:10px;font-weight:400;font-size:14px;line-height:1.6;text-align: justify;">{{ intro }}</p>
							</td>
						</tr>
					</table>
				</div>
				{% set alternate = true %}
				{% if other|length > 0 %}
				<h3 style="max-width:600px;display:block;margin:0 auto;padding:15px;padding-left:20px;color:#6f6f6f;width: 230px;font-size: 20px;">Informations générales</h3>
				{% endif %}

				{% for post in other %}
					<div class="content text" style="max-width:600px;display:block;margin:0 auto;padding:15px;padding-left:20px">
						<table style="width:100%">
							<tr>
								{% include 'ApplicationSonataAdminBundle:Mail:post.html.twig' %}
							</tr>
						</table>
					</div>
					{% set alternate = not alternate %}
				{% endfor %}

				{% if important is not null %}
				<div class="content" style="max-width:600px;display:block;margin:0 auto;padding:15px"><table bgcolor="">
					<tr>
						<td>
							<p class="callout" style="background-color:#ECF8FF;margin-bottom:15px;padding:15px;width: 536px;text-align: justify;font-size: 16px;">{{ important }}</p>
						</td>
					</tr>
				</table></div>
				{% endif %}

				{% if week|length > 0 %}
				<h3 style="max-width:600px;display:block;margin:0 auto;padding:15px;padding-left:20px;color:#6f6f6f;width: 250px;font-size: 20px;">Programme de la semaine</h3>
				{% endif %}

				{% for date, posts in week %}
					<h3 style="max-width:600px;display:block;margin:0 auto;padding:15px;padding-left:20px;color:#6f6f6f;font-size: 18px;">{{ posts[0].event.dateStart | format_date('eeee dd MMMM', 'fr', 'Europe/Paris') | title }}</h3>
					{% for post in posts %}
						<div class="content text" style="max-width:600px;display:block;margin:0 auto;padding:15px;padding-left:20px">
							<table style="width:100%">
								<tr>
									{% include 'ApplicationSonataAdminBundle:Mail:post.html.twig' %}
								</tr>
							</table>
						</div>
						{% set alternate = not alternate %}
					{% endfor %}
				{% endfor %}

				{% if afterWeek|length > 0 %}
				<h3 style="max-width:600px;display:block;margin:0 auto;padding:15px;padding-left:20px;color:#6f6f6f;width: 145px;font-size: 20px;">Prochainement</h3>
				{% endif %}

				{% for date, posts in afterWeek %}
					<h3 style="max-width:600px;display:block;margin:0 auto;padding:15px;padding-left:20px;color:#6f6f6f;font-size: 18px;">{{ posts[0].event.dateStart | format_date('eeee dd MMMM', 'fr', 'Europe/Paris') | title }}</h3>
					{% for post in posts %}
						<div class="content text" style="max-width:600px;display:block;margin:0 auto;padding:15px;padding-left:20px">
							<table style="width:100%">
								<tr>
									{% include 'ApplicationSonataAdminBundle:Mail:post.html.twig' %}
								</tr>
							</table>
						</div>
						{% set alternate = not alternate %}
					{% endfor %}
				{% endfor %}

				<div class="content" style="max-width:600px;display:block;margin:0 auto;padding:15px">
					<table style="width:100%">
						<tr>
							<td>
								<!-- social & contact -->
								<table class="social" style="background-color:#ebebeb;width:100%;">
									<tr>
										<td>
											<!--- column 1 -->
											<div class="column" style="width:50%;min-width:240px;float:left">
												<table style="align:left;width: 100%;">
													<tr>
														<td style="padding:15px;">				
															<h5 style="margin:0;padding:0;margin-bottom:15px;font-weight:900;font-size:17px">Suivez nous:</h5>
															<p style="margin:0;padding:0;width: 45%;float: left;">
																<a target="_blank" href="https://www.facebook.com/bde.esieeparis" class="soc-btn fb" style="font-size:12px;margin-bottom:10px;text-decoration:none;color:#FFF;font-weight:700;display:block;text-align:center;padding:3px 7px;display:block;width:100%;background-color: #3B5998!important;">Facebook</a>
															</p>
															<p style="margin:0;padding:0;width: 45%;float: left;margin-left: 20px;">
																<a target="_blank" href="https://twitter.com/BDE_ESIEE_Paris" class="soc-btn fb" style="font-size:12px;margin-bottom:10px;text-decoration:none;color:#FFF;font-weight:700;display:block;text-align:center;padding:3px 7px;display:block;width:100%;background-color: #309aea!important;">Twitter</a>
															</p>
															<p style="margin:0;padding:0;width: 45%;float: left;">
																<a target="_blank" href="https://www.youtube.com/user/bdeesieeparis" class="soc-btn fb" style="font-size:12px;margin-bottom:10px;text-decoration:none;color:#FFF;font-weight:700;display:block;text-align:center;padding:3px 7px;display:block;width:100%;background-color: #ca3523!important;">YouTube</a>
															</p>
															<p style="margin:0;padding:0;width: 45%;float: left;margin-left: 20px;">
																<a target="_blank" href="https://vine.co/u/1091066051275403264" class="soc-btn fb" style="font-size:12px;margin-bottom:10px;text-decoration:none;color:#FFF;font-weight:700;display:block;text-align:center;padding:3px 7px;display:block;width:100%;background-color: #00bf8f!important;">Vine</a>
															</p>
														</td>
													</tr>
												</table><!-- /column 1 -->
											</div>
											<!--- column 2 -->
											<div class="column" style="width:50%;min-width:240px;float:left">
												<table style="align:left;width: 100%;">
													<tr>
														<td style="padding:15px;">
															<h5 style="margin:0;padding:0;margin-bottom:15px;font-weight:900;font-size:17px">Info de contact:</h5>
															<p style="margin:0;padding:0;margin-bottom:10px;font-weight:400;font-size:14px;line-height:1.6">Email : <strong style="font-weight: bold;"><a href="mailto:bde@edu.esiee.fr" style="color: #2BA6CB;">bde@edu.esiee.fr</a></strong></p>
															<p style="margin:0;padding:0;margin-bottom:10px;font-weight:400;font-size:14px;line-height:1.6">Téléphone : <strong style="font-weight: bold;"><a href="tel:+33145926660" style="color: #2BA6CB;">(+33) 1 45 92 66 60</a></strong></p>
														</td>
													</tr>
												</table><!-- /column 2 -->	
											</div>
											<div class="clear" style="display:block;clear:both"></div>
										</td>
									</tr>
								</table><!-- /social & contact -->
							</td>
						</tr>
					</table>
				</div><!-- /content -->
			</td>
			<td></td>
		</tr>
	</table><!-- /BODY -->
</body>
</html>
{% endspaceless %}