{% extends '::base.bis.html.twig' %}

{% block title %}Media - {{ gallery.name }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 
        'bundles/applicationbde/css/jquery.fancybox.css'
        'bundles/applicationbde/css/gallery.css'

        filter='cssrewrite,?yui_css' 
    %}
        <link rel="stylesheet" href="{{ asset_url }}" type='text/css' />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    {% sonata_template_box 'Gallery view template' %}
        <div class="col-lg-12">
            <ul class="grid cs-style-3">
                {% for galleryHasMedia in gallery.GalleryHasMedias %}
                    <li>
                        <figure>
                            <img src="{% path galleryHasMedia.media, 'big' %}">
                            <figcaption>
                                <h3>{{ galleryHasMedia.media.name }}</h3>
                                {% if galleryHasMedia.media.description is not null %}
                                    <span>{{ galleryHasMedia.media.description|raw }}</span>
                                {% endif %}
                                {% if galleryHasMedia.media.providerName=="sonata.media.provider.youtube" %}
                                    <a class="fancybox" rel="media-gallery" href="http://www.youtube.com/watch?v={{ galleryHasMedia.media.providerReference }}" title="{{ galleryHasMedia.media.name }}">
                                        Regarder
                                    </a>
                                {% else %}
                                    <a class="fancybox" rel="group" href="{% path galleryHasMedia.media, 'reference' %}" title="{{ galleryHasMedia.media.name }}">
                                        {% if galleryHasMedia.media.providerName=="sonata.media.provider.file" %}
                                            Télécharger
                                        {% else %}
                                            Zoom
                                        {% endif %}
                                    </a>
                                {% endif %}
                            </figcaption>
                        </figure>
                    </li>
                {% endfor %}
          </ul>
        </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts 
        'bundles/applicationbde/js/jquery.fancybox.js'
        'bundles/applicationbde/js/toucheffects.js' 
        'bundles/applicationbde/js/jquery.fancybox-media.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %} 
    <script>
        $(function() {
            //    fancybox
            jQuery(".fancybox").fancybox({
                    helpers : {
                        media : {}
                    }
                });
        });
    </script>
{% endblock %}

{% block liMedia %}class='active'{% endblock %}