{% extends '::base.bis.html.twig' %}

{% block title gallery.name %}
{% block og_image %}{% if gallery.GalleryHasMedias|length > 0 %}{% path gallery.GalleryHasMedias[0].media, 'reference' %}{% endif %}{% endblock %}
{% block description gallery.name %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 
        'bundles/applicationbde/css/jquery.fancybox.css'
        'bundles/applicationbde/css/jquery.fancybox-buttons.css'
        'bundles/applicationbde/css/gallery.css'

        filter='cssrewrite,?yui_css' 
    %}
        <link rel="stylesheet" href="{{ asset_url }}" type='text/css' />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    {% sonata_template_box 'Gallery view template' %}
    <div class="col-lg-12">
        <ul class="grid cs-style-3" style="padding-left: 0px;">
            {% for galleryHasMedia in gallery.GalleryHasMedias %}
                <li>
                    <figure class="galleryFigure" style="background-image: url({% path galleryHasMedia.media, 'big' %});">
                        <figcaption>
                            <h3>{{ galleryHasMedia.media.name }}</h3>
                            {% if galleryHasMedia.media.description is not null %}
                                <span>{{ galleryHasMedia.media.description|raw }}</span>
                            {% endif %}
                            {% if galleryHasMedia.media.providerName == "sonata.media.provider.youtube" %}
                                <a class="fancybox" rel="media-gallery" href="https://www.youtube.com/watch?v={{ galleryHasMedia.media.providerReference }}" title="{{ galleryHasMedia.media.name }}">
                                    Regarder
                                </a>
                            {% elseif galleryHasMedia.media.providerName == "sonata.media.provider.dailymotion" %}
                                <a class="fancybox" rel="media-gallery" href="https://www.dailymotion.com/video/{{ galleryHasMedia.media.providerReference }}" title="{{ galleryHasMedia.media.name }}">
                                    Regarder
                                </a>
                            {% else %}
                                <a class="fancybox" rel="group" href="{% if galleryHasMedia.media.providerName=="sonata.media.provider.file" %}{{ path('sonata_media_download', {'id': galleryHasMedia.media|sonata_urlsafeid }) }}{% else %}{% path galleryHasMedia.media, 'reference' %}{% endif %}" title="{{ galleryHasMedia.media.name }}">
                                    {% if galleryHasMedia.media.providerName=="sonata.media.provider.file" %}
                                        Télécharger
                                    {% else %}
                                        Zoom
                                    {% endif %}
                                </a>
                            {% endif %}
                        </figcaption>
                    </figure>
                </li>
            {% endfor %}
      </ul>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts 
        'bundles/applicationbde/js/jquery.fancybox.js'
        'bundles/applicationbde/js/toucheffects.js' 
        'bundles/applicationbde/js/jquery.fancybox-media.js'
        'bundles/applicationbde/js/jquery.fancybox-buttons.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %} 
    <script>
        $(function() {
            //    fancybox
            jQuery(".fancybox").fancybox({
                {% if youtube %}
                arrows : false,
                {% endif %}
                helpers : {
                    media : {},
                {% if youtube %}
                    buttons : {}
                {% endif %}
                }
            });
        });
    </script>
{% endblock %}

{% block liMedia %}class='active'{% endblock %}