{% extends '::base.bis.html.twig' %}

{% set contains_editable_block = 'yes' %}

{% block title %}Découvrez-nous{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets 
		'bundles/applicationbde/css/team.css'
		filter='cssrewrite,?yui_css'
	 %}
		<link rel="stylesheet" href="{{ asset_url }}" type='text/css'/>
	{% endstylesheets %}
{% endblock %}

{% block body %}
	<div class="col-lg-12">
        <!--testimonial start-->
        <div class="about-testimonial boxed-style about-flexslider ">
            <div class="flexslider">
                <ul class="slides about-flex-slides" style="padding-left:0;">
                    <li>
                        <div class="about-testimonial-image">
                            <i class="pic yelen" style="width: 100px;height: 100px;background-position: -780px -920px;background-size: 900px;"></i>
                        </div>
                        <span class="about-testimonial-author" href="#">Ÿelen</span>
                        <span class="about-testimonial-company">Mascotte chez Ferus - BDE ESIEE Paris</span>
                        <div class="about-testimonial-content">
                            <p class="about-testimonial-quote">
				                {{ sonata_block_render({ 
				                    'type': 'application.sonata.block.service.editable_text', 
				                    'settings' : {
				                        'title' : 'decouvre_nous_citation'
				                    }
				                }) }}
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!--testimonial end-->
		<section class="panel mtop30 tab" style="background:white;">
	        <header class="panel-heading service-tab tab-bg-dark-navy-blue">
	            <ul class="nav nav-tabs nav-justified ">
	                <li class="active">
	                    <a data-toggle="tab" href="#programme">
	                        Programme
	                    </a>
	                </li>
	                <li>
	                    <a data-toggle="tab" href="#trombi">
	                        Trombi
	                    </a>
	                </li>
	            </ul>
	        </header>
	        <div class="panel-body">
	            <div class="tab-content tasi-tab">
	                <div id="programme" class="tab-pane active">
		                {{ sonata_block_render({ 
		                    'type': 'application.sonata.block.service.editable_text', 
		                    'settings' : {
		                        'title' : 'decouvre_nous_programme'
		                    }
		                }) }}
	                </div>
	                <div id="trombi" class="tab-pane">
						<section id="bureau">
							<!-- The title -->
							<div class="">
								<div class="row">
									<div class="col-xs-12 col-md-12">
										<h1>Bureau</h1>
										<hr>
										<p class="big thin">Au sommet de la pyramide, c’est le bureau. Il supporte l’ensemble du BDE, gère les finances, prend les décisions pour mener à bien le mandat tout au long de l'année. </p>
									</div>
								</div>
							</div>
							<div style="margin-top: 100px;" class=" text-center">
								<div class="row">
									<div class="col-xs-12 col-sm-4 bureau-bottom"><span class="name">Baptiste<i class="flag flag-uk"></i></span><br /><b>Vice-Président</b><br /><i class="pic baptou bureau"></i></div>
									<div class="col-xs-12 col-sm-4 bureau-top-center"><span class="name">Nicolas</span><br /><b>Président</b><br /><i class="pic prez bureau"></i></div>
									<div class="col-xs-12 col-sm-4 bureau-bottom"><span class="name">Mathieu</span><br /><b>Vice-Président</b><br /><i class="pic maki bureau"></i></div>
								</div>
								<div class="row">
									<div class="col-xs-12 col-md-12"><img src="{{ asset('bundles/applicationbde/img/logoBureau.png') }}" style="width:300px;" class="logoBranche" id="logoBureau"/></div>
								</div>
								<div class="row">
									<div class="col-xs-12 col-sm-4 bureau-top"><i class="pic marc bureau"></i><br /><span class="name">Marc</span><br /><b>Vice-Trésorier</b></div>
									<div class="col-xs-12 col-sm-4 bureau-bottom-center"><i class="pic ombe bureau"></i><br /><div style="display:block;"><span class="name">Ombeline</span><b style="display:block;">Secrétaire</b></div><br /><br /></div>
									<div class="col-xs-12 col-sm-4 bureau-top"><i class="pic remi bureau"></i><br /><span class="name">Rémi</span><br /><b>Trésorier</b></div>
								</div>
							</div>
						</section>
						<section id="crea" style="margin-top: 100px;">
							<!-- The title -->
							<div class="">
								<div class="row">
									<div class="col-xs-12 col-md-12">
										<h1>Branche Créa</h1>
										<hr>
										<p class="big thin">Pour faire des affiches, écrire un magazine, retoucher une vidéo, ou même produire un site web il y a la branche Créa ! Adeptes d’Adobe, de la bière bien fraîche, et des plans bien cadrés. Frissons garantis.</p>
									</div>
								</div>
							</div>
							<div class="text-center ">
								<div class="row">
									<div class="col-xs-12 col-md-3"><img src="{{ asset('bundles/applicationbde/img/logocrea.png') }}" style="width:200px;" class="logoBranche" id="logoCrea" /></div>
									<div class="col-md-3"></div>
									<div class="col-md-3"></div>
									<div class="col-xs-12 col-md-3 right"><i class="pic clemi"></i><br />Clément<br /><b>Respo'</b></div>
								</div><br /><br />
								<div class="row equals-height">
									<div class="col-xs-12 col-md-3 pole" style="vertical-align: middle;">MULTI</div>
									<div class="col-md-9">
										<div class="row">
											<div class="col-xs-12 col-md-4"><i class="pic kim"></i><br />Kimberley</div>
											<div class="col-xs-12 col-md-4"><i class="pic alie"></i><br />Alizée</div>
											<div class="col-xs-12 col-md-4"><i class="pic tomo"></i><br />Thomas</div>
										</div>
										<div class="row">
											<div class="col-xs-12 col-md-4 col-md-offset-8"><i class="pic poupou"></i><br />Antoine</div>
										</div>
									</div>
								</div><br /><br />
								<div class="row">
									<div class="col-xs-12 col-md-3 pole">RÉDACTION</div>
									<div class="col-xs-12 col-md-3"></div>
									<div class="col-xs-12 col-md-3"><i class="pic thomasB"></i><br />Thomas</div>
								</div><br /><br />
								<div class="row">
									<div class="col-xs-12 col-md-3 pole">WEB</div>
									<div class="col-md-offset-6 col-xs-12 col-md-3"><i class="pic naji"></i><br />Naji</div>
								</div>
							</div>
						</section>
						<section id="event">
							<div class="">
								<div class="row">
									<div class="col-xs-12 col-md-12">
										<h1>Branche Event</h1>
										<hr>
										<p class="big thin">Toujours de la partie quand il s’agit de faire la fête, voici la branche Event’ ! Animations en tout genre et soirées folles seront au programme tout le long de l’année ! Si vous voulez voyager, vous trouverez aussi votre bonheur.</p>
									</div>
								</div>
							</div>
							<div class="text-center ">
								<div class="row">
									<div class="col-xs-12 col-md-3"><img src="{{ asset('bundles/applicationbde/img/logoevent.png') }}" style="width:200px;" class="logoBranche" id="logoEvent" /></div>
									<div class="col-md-3"></div>
									<div class="col-md-3"></div>
									<div class="col-xs-12 col-md-3 right"><i class="pic thomasL"></i><br />Thomas<br /><b>Respo'</b></div>
								</div><br /><br />
								<div class="row">
									<div class="col-xs-12 col-md-3 pole">Anim'</div>
									<div class="col-xs-12 col-md-3"><i class="pic julie"></i><br />Julie</div>
									<div class="col-xs-12 col-md-3"><i class="pic chloe"></i><br />Chloé</div>
									<div class="col-xs-12 col-md-3"><i class="pic valoche"></i><br />Valentine</div>
								</div><br /><br />
								<div class="row equals-height" style="">
									<div class="col-xs-12 col-md-3 pole" style="vertical-align: middle;">Com'</div>
									<div class="col-md-9">
										<div class="row">
											<div class="col-xs-12 col-md-4"><i class="pic coralie"></i><br />Coralie</div>
											<div class="col-xs-12 col-md-4"><i class="pic camille"></i><br />Camille</div>
											<div class="col-xs-12 col-md-4"><i class="pic marion2"></i><br />Marion</div>
										</div>
										<div class="row">
											<div class="col-md-offset-4 col-xs-12 col-md-4"><i class="pic pierre"></i><br />Pierre</div>
											<div class="col-xs-12 col-md-4"><i class="pic alicia"></i><br />Alicia</div>
										</div>
									</div>
								</div><br /><br />
								<div class="row">
									<div class="col-xs-12 col-md-3 pole">Voyage</div>
									<div class="col-xs-12 col-md-3"></div>
									<div class="col-xs-12 col-md-3"><i class="pic oceane"></i><br />Océane</div>
									<div class="col-xs-12 col-md-3"><i class="pic hugo"></i><br />Hugo</div>
								</div>
							</div>
						</section>
						<section id="logistique">
							<div class="">
								<div class="row">
									<div class="col-xs-12 col-md-12">
										<h1>Branche Logistique</h1>
										<hr>
										<p class="big thin">Prêt à porter les charges les plus lourdes, la branche logistique est là pour fournir le matériel adéquat pour les évènements, et ainsi profiter pleinement de ces moments !</p>
									</div>
								</div>
							</div>
							<div class="text-center ">
								<div class="row">
									<div class="col-xs-12 col-md-3"><img src="{{ asset('bundles/applicationbde/img/logoLog.png') }}" style="width:200px;" class="logoBranche" id="logoLog" /></div>
									<div class="col-md-3"></div>
									<div class="col-md-3"></div>
									<div class="col-xs-12 col-md-3 right"><i class="pic eric"></i><br />Éric<br /><b>Respo'</b></div>
								</div><br /><br />
								<div class="row">
									<div class="col-xs-12 col-md-3 pole">Réserve'</div>
									<div class="col-xs-12 col-md-3"><i class="pic mumu"></i><br />Adrien</div>
									<div class="col-xs-12 col-md-3"><i class="pic maxime"></i><br />Maxime</div>
									<div class="col-xs-12 col-md-3"><i class="pic gaillota"></i><br />Antoine</div>
								</div><br /><br />
								<div class="row">
									<div class="col-xs-12 col-md-3 pole">Tac Tuc</div>
									<div class="col-xs-12 col-md-3"></div>
									<div class="col-xs-12 col-md-3"><i id="dany" class="pic dany2"></i><br />Dany <i class="flag flag-usa"></i></div>
									<div class="col-xs-12 col-md-3"><i class="pic wallet"></i><br />Alexandre</div>
								</div>
							</div>
						</section>
						<section id="vieetud">
							<div class="">
								<div class="row">
									<div class="col-xs-12 col-md-12">
										<h1>Branche Vie Étudiante</h1>
										<hr>
										<p class="big thin">La branche vie étudiante gère tous les autres services indispensables pour les élèves. Besoin d’annales pour réviser ? Besoin de subventions pour les clubs ? Tout se passe ici.</p>
									</div>
								</div>
							</div>
							<div class="text-center ">
								<div class="row">
									<div class="col-xs-12 col-md-3"><img src="{{ asset('bundles/applicationbde/img/logoVieEtudiante.png') }}" style="width:200px;" class="logoBranche" id="logoVieEtudiante" /></div>
									<div class="col-md-3"></div>
									<div class="col-xs-12 col-md-3 right"><i class="pic celine"></i><br />Céline<i class="flag flag-usa"></i><br /><b>Respo'</b></div>
									<div class="col-xs-12 col-md-3 right"><i class="pic vince"></i><br />Vincent <br /><b>Respo''</b></div>
								</div><br /><br />
								<div class="row">
									<div class="col-xs-12 col-md-3 pole">Annales</div>
									<div class="col-xs-12 col-md-3"></div>
									<div class="col-xs-12 col-md-3"></div>
									<div class="col-xs-12 col-md-3"><i class="pic thomasLeMeur"></i><br />Thomas</div>
								</div><br /><br />
								<div class="row">
									<div class="col-xs-12 col-md-3 pole">Clubs</div>
									<div class="col-xs-12 col-md-3"></div>
									<div class="col-xs-12 col-md-3"><i class="pic elie"></i><br />Élie</div>
									<div class="col-xs-12 col-md-3"><i class="pic yoyo"></i><br />Yoann</div>
								</div><br /><br />
								<div class="row">
									<div class="col-xs-12 col-md-3 pole">Sponsors</div>
									<div class="col-xs-12 col-md-3"></div>
									<div class="col-xs-12 col-md-3"><i class="pic audrey"></i><br />Audrey</div>
									<div class="col-xs-12 col-md-3"><i class="pic kevin"></i><br />Kevin</div>
								</div><br /><br />
								<div class="row">
									<div class="col-xs-12 col-md-3 pole">International</div>
									<div class="col-xs-12 col-md-3"></div>
									<div class="col-xs-12 col-md-3"></div>
									<div class="col-xs-12 col-md-3"><i class="pic iris"></i><br />Iris</div>
								</div>
							</div>
						</section>
	                </div>
	            </div>
	        </div>
	    </section>
    </div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>
		var k = [38, 38, 40, 40, 37, 39, 37, 39, 66, 65],
			n = 0,
			potter = false;
		$(document).keydown(function (e) {
			if ($('#trombi').is(':visible')) {
			    if (e.keyCode === k[n++]) {
			        if (n === k.length) {
						if (potter) {
				        	$(".pic").fadeOut('slow', function() {
					        	$(".pic").removeClass('pic2');
					        	$(".pic").fadeIn('slow');
				        	});
				        	$(".logoBranche").fadeOut('slow', function() {
					        	$("#logoVieEtudiante").attr('src', "{{ asset('bundles/applicationbde/img/logoVieEtudiante.png') }}");
					        	$("#logoLog").attr('src', "{{ asset('bundles/applicationbde/img/logoLog.png') }}");
					        	$("#logoEvent").attr('src', "{{ asset('bundles/applicationbde/img/logoevent.png') }}");
					        	$("#logoCrea").attr('src', "{{ asset('bundles/applicationbde/img/logocrea.png') }}");
					        	$("#logoBureau").attr('src', "{{ asset('bundles/applicationbde/img/logoBureau.png') }}");
					        	$(".logoBranche").fadeIn('slow');
				        	});
						} else {
				        	$(".pic").fadeOut('slow', function() {
					        	$(".pic").addClass('pic2');
					        	$(".pic").fadeIn('slow');
				        	});
				        	$(".logoBranche").fadeOut('slow', function() {
					        	$("#logoVieEtudiante").attr('src', "{{ asset('bundles/applicationbde/img/logoPoufsouffle.png') }}");
					        	$("#logoLog").attr('src', "{{ asset('bundles/applicationbde/img/logoSerdaigle.png') }}");
					        	$("#logoEvent").attr('src', "{{ asset('bundles/applicationbde/img/logoGryffondor.png') }}");
					        	$("#logoCrea").attr('src', "{{ asset('bundles/applicationbde/img/logoSerpentard.png') }}");
					        	$("#logoBureau").attr('src', "{{ asset('bundles/applicationbde/img/logoPoudlard.png') }}");
					        	$(".logoBranche").fadeIn('slow');
				        	});
			        	}
			    		n = 0;
			    		potter = !potter;
			        }
			    } else 
			    	n = 0;
			}
		});
	</script>
{% endblock %}