{% extends '::base.bis.html.twig' %}

{% set contains_editable_block = 'yes' %}

{% block title %}Ferus{% endblock %}

{% block containerClass %} class="property" style="padding-top: 0px;"{% endblock %}

{% block breadcrumbs %}
<!--parallax start-->
<section class="parallax1">
    <div class="container">
        <div class="row">
            <h1></h1>
        </div>
    </div>
</section>
<!--parallax end-->

<!--breadcrumbs start-->
<div class="container">
    <div class="row">
        <!--feature start-->
        {{ sonata_block_render({ 
            'type': 'application.sonata.block.service.editable_text', 
            'settings' : {
                'title' : 'index_title'
            }
        }) }}
        <!--feature end-->
    </div>
</div>
<!--breadcrumbs end-->
{% endblock %}

{% block body %}
    <div class="col-lg-4 col-sm-4">
        <section>
            <div class="f-box">
                <i class="fa fa-university"></i>
                <h2>L'association</h2>
            </div>
            {{ sonata_block_render({ 
                'type': 'application.sonata.block.service.editable_text', 
                'settings' : {
                    'title' : 'index_association'
                }
            }) }}
            <a href="{{ path('application_bde_association') }}" class="btn btn-purchase" style="width:100%;">Le BDE</a>
        </section>
    </div>
    <div class="col-lg-4 col-sm-4">
        <section>
            <div class="f-box">
                <i style="max-height: 51px;">
                    {% include 'ApplicationBDEBundle:Default:logo.svg.twig' %}
                    <img id="fallback" class="logoFerus" src="{{ asset('bundles/applicationbde/img/logo.svg') }}" style="display:none;">
                </i>
                <h2>L'équipe</h2>
            </div>
            {{ sonata_block_render({ 
                'type': 'application.sonata.block.service.editable_text', 
                'settings' : {
                    'title' : 'index_equipe'
                }
            }) }}
            <a href="{{ path('application_bde_aboutus') }}" class="btn btn-purchase" style="width:100%;">Découvre nous !</a>
        </section>
    </div>
    <div class="col-lg-4 col-sm-4">
        <section>
            <div class="f-box">
                <i class="fa fa-building"></i>
                <h2>Entreprises</h2>
            </div>
            {{ sonata_block_render({ 
                'type': 'application.sonata.block.service.editable_text', 
                'settings' : {
                    'title' : 'index_entreprises'
                }
            }) }}
            <a href="{{ path('application_bde_partnership') }}" class="btn btn-purchase" style="width:100%;">Devenir partenaire</a>
        </section>
    </div>
{# </div>
</div>
</div>
    <section class="parallax2">
    </section>
<div>
<div>
<div> #}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function() {
            if (!Modernizr.svg) {
                $("img.logoFerus").show();
            }
        })
    </script>
{% endblock %}

{% block liAccueil %}class='active'{% endblock %}