{% extends '::base.bis.html.twig' %}

{% block title %}Ferus{% endblock %}

{% block containerClass %} class="property"{% endblock %}

{% block breadcrumbs %}
<!--breadcrumbs start-->
<div class="container">
    <div class="row">
        <!--feature start-->
        <div class="text-center feature-head">
            <h1>{% block title2 %}Bienvenue sur le site de FERUS{% endblock %}</h1>
            <p>BDE ESIEE Paris 2013-2014</p>
        </div>
        <!--feature end-->
    </div>
</div>
<!--breadcrumbs end-->
{% endblock %}

{% block body %}
    <div class="col-lg-4 col-sm-4">
        <section>
            <div class="f-box">
                <i class="fa fa-university"></i>
                <h2>L'association</h2>
            </div>
            <p class="f-text text-justify">Le Bureau des Élèves (BDE) est l’association la plus importante de l'école et elle est au cœur de la vie étudiante. Elle fait le lien entre les étudiants, l'école et les entreprises.</p>
            <a href="{{ path('application_bde_history') }}" class="btn btn-purchase" style="width:100%;">Un peu d’histoire</a>
        </section>
    </div>
    <div class="col-lg-4 col-sm-4">
        <section>
            <div class="f-box">
                <i style="max-height: 51px;">
                    {% include 'ApplicationBDEBundle:Default:logo.svg.twig' %}
                    <img id="fallback" class="logoFerus" src="{{ asset('bundles/applicationbde/img/logo.svg') }}" style="display:none;">
                </i>
                <h2>L'équipe</h2>
            </div>
            <p class="f-text text-justify">Ferus c'est avant tout un groupe d'amis qui ont su s'unir afin de proposer le meilleur pour les étudiants de l'ESIEE et qui s'assureront que ton année se passe tout en douceur.</p>
            <a href="{{ path('application_bde_aboutus') }}" class="btn btn-purchase" style="width:100%;">Découvre nous !</a>
        </section>
    </div>
    <div class="col-lg-4 col-sm-4">
        <section>
            <div class="f-box">
                <i class="fa fa-building"></i>
                <h2>Entreprises</h2>
            </div>
            <p class="f-text text-justify">Devenir partenaire est l’occasion de s’offrir une formidable visibilité auprès des 1800 élèves de l'école et des 24000 étudiants du campus ainsi qu'une image valorisante.</p>
            <a href="{{ path('application_bde_partnership') }}" class="btn btn-purchase" style="width:100%;">Devenir partenaire</a>
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function() {
            if (!Modernizr.svg) {
                $("img.logoFerus").show();
            }
        })
    </script>
{% endblock %}

{% block liAccueil %}class='active'{% endblock %}