{% extends '::base.bis.html.twig' %}

{% block title product.name %}
{% block og_image %}{% if product.photos|length > 0 %}{% path product.photos[0].media, 'reference' %}{% endif %}{% endblock %}
{% block description product.description|striptags %}

{% block stylesheets %}
	{{ parent() }}

    {% stylesheets 
        'bundles/applicationshop/css/etalage.css'

        filter='cssrewrite,?yui_css' 
        output='css/shop.min.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" type='text/css' />
    {% endstylesheets %} 
{% endblock %}

{% block body %}
	{{ form_errors(form) }}
	<div class="col-lg-9">
		<div class="row">
			<div class="col-md-6 col-sm-12 col-xs-12">
				<ul id="etalage">
					{% for galleryHasMedia in product.photos if galleryHasMedia.media is not null %}
						<li><img class="etalage_source_image" src="{% path galleryHasMedia.media, 'reference' %}"/> </li>
					{% endfor %}
				</ul>
			</div>
			<div class="col-md-6 col-sm-12 col-xs-12">
				<h4 class="pro-d-title">
                    <a href="#" class="">
                        {{ product.name }}
                    </a>
                </h4>
				<p>
					{{ product.description|raw }}
				</p>
				<div class="product_meta">
					<span class="posted_in"> 
						<strong>Categorie{% if product.categories|length > 1 %}s{% endif %} :</strong> 
						{% for category in product.categories %}
							<a rel="tag" href="{{ path('application_shop_breguet_shop_filter', {id: category.id}) }}">{{ category.name }}</a>{% if loop.last %}.{% else %},{% endif %}
						{% endfor %}
					</span>
				</div>
				{% if product.price >= 0 %}
	              	<div class="m-bot15">
	              		<strong>Prix : </strong> <span class="pro-price"> {{ product.price|number_format_currency('EUR') }}</span>
	              	</div>
				{% endif %}
				{% if product.enableCounter %}
					<div style="margin-top: 15px;">
						<button id="showForm" class="btn btn-round btn-danger" type="button">
							<i class="fa fa-shopping-cart"></i> Cet article m'intéresse
						</button>
					</div>
					<div id="formSam" style="display:none;">
						{{ form(form) }}
					</div>
				{% endif %}
			</div>
		</div>
	</div>
	{{ render(controller('ApplicationShopBundle:Shop:listCategory')) }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}

    {% javascripts 
        'bundles/applicationshop/js/jquery.etalage.js' 

        filter='?yui_js' 
        output='js/shop.min.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %} 

	<script>
		$(function() {
			$('#showForm').click(function(e) {
				if ($('#formSam').is(":visible"))
					$('#formSam').hide();
				else
					$('#formSam').show();
			});

			$('#etalage').etalage({
				thumb_image_width: 230,
				thumb_image_height: 230,
				zoom_area_width: 500,
				smallthumb_inactive_opacity: 0.3,
				show_hint: false,
			});
		})
	</script>
{% endblock %}

{% block liServices %} active{% endblock %}